.planet-metrics {
  padding: 1.5rem;

  dl {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  dd {
    margin: 0;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.5rem;
    border: solid thin hsla(0, 0%, 100%, .2);
  }
}

.desc-term {
  font-size: 11px;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 6px;
  color: hsla(0, 0%, 100%, .5)
}

.desc-details {
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  letter-spacing: -.75px;
  text-transform: uppercase;
}